body{
  background-image: linear-gradient(to right, #473AF0, black);
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
}

.panel {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: white;
  width: 450px;
  margin: 10px 5px 30px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel>div {
  width: 33%;
}

button {
  font-family: 'Montserrat', sans-serif;
  background-color: #5B4FB0;
  padding: 5px 15px;
  color: white;
  border-color: transparent;
  border-radius: 10px;
}

input{
  width: 25%;
  background-color:transparent;
  color: white;
  border-style: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.box {
  margin: auto;
  width: 85%;
  padding: 20px;
  background-image: linear-gradient(to right, #5B4FB0, #473AF0);
  box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
}

.grid {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  position: relative;
  transition: all 0.4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.front:hover {
  box-shadow: inset 0px 0px 0px 3px #5B4FB0;
  box-sizing: border-box;
}

.card,
.back,
.front {
  height: 100px;
  width: 140px;
  border-radius: 8px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background: #2E3D49 no-repeat center center / contain;
}

.back {
  transform: rotateY(180deg);
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center center;
}

/*flip card*/
.selected {
  transform: rotateY(180deg);
}

/*when cards match*/
.match .front {
  display: none !important;
}

/****Media Queries****/
@media only screen and (min-width: 768px) {
  .box {
    width: 650px;
    height: auto;
  }

  * .card {
    height: 100px;
    width: 140px;
    display: inline-block;
    cursor: pointer;
  }
}